* {
    scroll-behavior: smooth !important;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap');

.ff_inter {
    font-family: 'Inter', sans-serif;
}

@font-face {
    font-family: "KonexyPersonalUse";
    src: url('./fonts/konexypersonaluse.otf');
}

.ff_KonexyPersonalUse {
    font-family: "KonexyPersonalUse";
}

@font-face {
    font-family: "Gilroy";
    src: url('./fonts/Gilroy-Light.otf');
}

.ff_Gilroy {
    font-family: "Gilroy", sans-serif;
}

.slick-track {
    display: flex !important;
    align-items: center !important;
}

.box_animation {
    animation-name: animation;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@keyframes animation {
    0% {
        background: #5F21E9;
    }

    50.0% {
        background: #7919ad;
    }

    100.0% {
        background-color: #FA00FF;
    }
}