* {
    scroll-behavior: smooth !important;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap');

.ff_inter {
    font-family: 'Inter', sans-serif;
}

@font-face {
    font-family: "KonexyPersonalUse";
    src: url('./fonts/konexypersonaluse.otf');
}

.ff_KonexyPersonalUse {
    font-family: "KonexyPersonalUse";
}

@font-face {
    font-family: "Gilroy";
    src: url('./fonts/Gilroy-Light.otf');
}

.ff_Gilroy {
    font-family: "Gilroy", sans-serif;
}

.slick-track {
    display: flex !important;
    align-items: center !important;
}

.box_animation {
    animation-name: animation;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@keyframes animation {
    0% {
        background: #5F21E9;
    }

    50.0% {
        background: #7919ad;
    }

    100.0% {
        background-color: #FA00FF;
    }
}

/* ------------------Loader----------------- */
.body-bg {
    background-color: black;
    text-align: center;
}

html {
    height: 100%;
}

.loading span {
    animation: loading 1s infinite alternate;
}

.loading span:nth-of-type(2) {
    animation-delay: 0.2s;
}

.loading span:nth-of-type(3) {
    animation-delay: 0.4s;
}

.loading span:nth-of-type(4) {
    animation-delay: 0.6s;
}

.loading span:nth-of-type(5) {
    animation-delay: 0.8s;
}

.loading span:nth-of-type(6) {
    animation-delay: 1.0s;
}

.loading span:nth-of-type(7) {
    animation-delay: 1.2s;
}

@keyframes loading {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}